<%- include('../template/head-start') %>
<%- include('../template/menu-atas') %>
<style>
    .ava-icon {
        width: 28px; height:28px; object-fit: cover; margin-right:10px; border-radius: 100%;
    }
    a {
        text-decoration: none; color:black;
    }
    a:hover {
        color: darkblue;
    }
</style>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="d-flex flex-row justify-content-evenly">

            <!-- Message & Feeds -->
            <div class="col-lg-7">
                <% if (message) { %>
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <i class="fa-solid fa-info-circle me-2"></i><%- message %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>

                <% for( let i=0; i < postingan.length; i++ ) { %>
                    <%
                        let carousel_active1 = ''
                        let carousel_active2 = ''
                        let carousel_active3 = ''

                        if (postingan[i].file1) {
                            carousel_active1 = 'active'
                            carousel_active2 = ''
                            carousel_active3 = ''
                        }
                        else if (postingan[i].file2) {
                            carousel_active1 = ''
                            carousel_active2 = 'active'
                            carousel_active3 = ''
                        }
                        else if (postingan[i].file3) {
                            carousel_active1 = ''
                            carousel_active2 = ''
                            carousel_active3 = 'active'
                        }
                    %>
                    <div class="card shadow-sm mb-5">

                        <div>
                            <img src="/upload/<%= postingan[i].foto %>" class="rounded-circle p-2" height="50" style="object-fit: cover;" alt="...">
                            <b><%= postingan[i].username %></b>
                            <span class="float-end p-3">
                                <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div id="carouselExample<%= postingan[i].id %>" class="carousel slide bg-dark">
                            <div class="carousel-inner">
                                <% if (postingan[i].file1) { %>
                                    <div class="carousel-item <%= carousel_active1 %>">
                                        <img src="<%= postingan[i].file1 %>" class="d-block w-100" height="350" style="object-fit: contain;" alt="...">
                                    </div>
                                <% } %>
                                <% if (postingan[i].file2) { %>
                                    <div class="carousel-item <%= carousel_active2 %>">
                                        <img src="<%= postingan[i].file2 %>" class="d-block w-100" height="350" style="object-fit: contain;" alt="...">
                                    </div>
                                <% } %>
                                <% if (postingan[i].file3) { %>
                                    <div class="carousel-item <%= carousel_active3 %>">
                                        <img src="<%= postingan[i].file3 %>" class="d-block w-100" height="350" style="object-fit: contain;" alt="...">
                                    </div>
                                <% } %>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= postingan[i].id %>" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= postingan[i].id %>" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <a href="/feed/post/<%= postingan[i].id %>">
                        <div class="card-body">
                            <p class="card-text"><b><%= postingan[i].username %></b> <%= postingan[i].caption %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <i class="fa-regular fa-thumbs-up"></i>
                                    </button>
                                    
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <i class="fa-regular fa-comment"></i>
                                        </button>
                                </div>
                                <small class="text-body-secondary"><%= moment(postingan[i].created_at).startOf('minute').fromNow() %></small>
                            </div>
                        </div>
                    </a>
                    </div>

                <% } %>
            </div>

            <!-- User List -->
            <div>
                <h3 class="mb-3">Pengguna Lainnya</h3>
                <div class="card" style="width: 18rem;">
                    <div class="list-group list-group-flush">
                        <a href="/profil" style="text-decoration: none; color:black;">
                            <div class="card-header px-3 py-3 d-flex flex-row justify-content-start">
                                <% if ( ! req.session.user[0].foto ) { %>
                                    <img src="/gambar/Profile.png" class="ava-icon">
                                <% } else { %>
                                    <img src="/upload/<%=req.session.user[0].foto%>" class="ava-icon">
                                <% } %>
                                <div class="d-flex flex-column">
                                    <p1 style="font-weight: bold; margin-bottom: 2px; color: blue">You (<%=req.session.user[0].username%>)</p1>
                                    <p1 style=""><%=req.session.user[0].bio%></p1>
                                </div>
                            </div>
                        </a>
                        <% for( let i = 0; i < users.length; i++ ) { %>
                            <% if (users[i].id == req.session.user[0].id) { %>
                                <null/>
                                <% } else { %>
                                    <a href="/profil/user/<%= users[i].username %>" style="text-decoration: none; color: black">
                                        <div class="px-3 py-3 d-flex flex-row justify-content-start">
                                    
                                            <% if ( ! users[i].foto ) { %>
                                                <img src="/gambar/Profile.png" class="ava-icon" alt="...">
                                            <% } else { %>
                                                <img src="/upload/<%= users[i].foto %>" class="ava-icon">
                                            <% } %>
                                            <div class="d-flex flex-column">
                                                <p1 style="font-weight: bold; margin-bottom: 2px;"><%=users[i].nama_lengkap%></p1>
                                                <p1 style=""><%=users[i].bio%></p1>
                                            </div>
                                        </div>
                                    </a>
                                <% } %>
                            <% } %>
                        </div>
                  </div>
                
            </div>
        </div>
    </div>
</div>


<%- include('../template/head-end') %>